* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(halo.webp);
  background-size: cover;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  height: 10vh;
  padding: 1vh 2vw;
  background-color: #ffffff;
  margin-bottom: 10vh;
  z-index: 1;
  font-size: 2vw;
}

h1 {
  font-size: 4vh;
  margin-left: 1vh;
}

.header-text {
  font-size: 2vh;
  text-align: right;
}

button:hover {
  background-color: #555;
  transform: scale(1.05);
}
